<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>foot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{135,147}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{135,147}}</string>
                <key>sourceSize</key>
                <string>{139,159}</string>
            </dict>
            <key>foot_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,54},{120,146}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{120,146}}</string>
                <key>sourceSize</key>
                <string>{134,162}</string>
            </dict>
            <key>forearm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,442},{74,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,94}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>forearm_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,550},{89,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{89,68}}</string>
                <key>sourceSize</key>
                <string>{99,78}</string>
            </dict>
            <key>hand_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,278},{92,75}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{92,75}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>hand_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,184},{92,75}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{92,75}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>hand_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{94,77}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{94,77}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>hand_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,469},{96,79}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{96,79}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>hand_a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,442},{64,91}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{64,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>hand_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,506},{68,93}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{68,93}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>hand_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,372},{68,97}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{68,97}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>hand_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,438},{66,97}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,97}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,308},{128,131}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{128,131}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,184},{122,135}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{122,135}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{122,133}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{122,133}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,243},{122,133}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{122,133}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>pelvis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{90,139}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{90,139}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>shadow_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{315,50}}</string>
                <key>sourceSize</key>
                <string>{321,64}</string>
            </dict>
            <key>shoulder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{102,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{102,78}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>shoulder_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{55,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{55,105}}</string>
                <key>sourceSize</key>
                <string>{71,115}</string>
            </dict>
            <key>thigh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,176},{65,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{65,144}}</string>
                <key>sourceSize</key>
                <string>{81,156}</string>
            </dict>
            <key>thigh_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,367},{112,100}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,112}</string>
            </dict>
            <key>torso_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{180,189}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,189}}</string>
                <key>sourceSize</key>
                <string>{180,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa18c39dc79b10d0d6f15d9a26890298$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
